.container {
	display: flex;
	align-items: start;
	justify-content: start;
	gap: 50px;
	width: 90%;
	margin: 30px auto;
	padding-bottom: 30px;
	img {
		max-width: 300px;
	}
}
.description {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
